:root {
  --ember-orange: #ee7e2e; /* Primary accent */
  --light-orange: #fa9d1e; /* Lighter orange */
  --charcoal-gray: #2e2e2e; /* Dark UI / Text */
  --dark-gray: #181818; /* Dark Background / Text */
  --smoked-gray: #e7e7e7; /* Light gray neutral */
  --dark-smoked-gray: #dbdbdb;
  --ash-white: #f7f7f7; /* Main background */
  --warm-cream: #fff5e8; /* Soft warm panels/cards */
}

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

html,
body {
  min-height: 100%;
  height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body,
main {
  background-color: var(--ash-white);
}

#body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 !important;
  padding: 1rem !important;
  /* overflow-y: auto; */
}

.hidden {
  display: none !important;
}

header {
  position: sticky !important;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem !important;
  background-color: var(--smoked-gray);
  color: var(--charcoal-gray);
  border-bottom: 1px solid var(--charcoal-gray);
}

header p {
  font-size: 1.5rem;
  font-weight: bold;
}

header nav,
#reports-nav {
  display: flex;
  gap: 2rem;
  font-size: 1.25rem;
}

header nav a,
#reports-nav a {
  text-decoration: none;
  color: var(--charcoal-gray);
}

header nav a:hover,
#reports-nav a:hover {
  color: var(--ember-orange);
}

footer {
  height: 10rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem !important;
  background-color: var(--charcoal-gray);
  color: var(--ash-white);
}

#index-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#index-main h1 {
  font-size: 3.5rem;
  color: var(--light-orange);
}

#index-main > p {
  font-size: 2rem;
}

#index-main .team {
  font-size: 1.2rem;
}

#index-cards {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.index-card {
  border: 1px solid var(--smoked-gray);
  border-radius: 0.3rem;
  padding: 1rem !important;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}

#simulation-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem !important;
  background-color: var(--warm-cream);
}

#top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  /* outline: 1px solid red; */
}

#cashier-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#cashier-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.cashier-card {
  width: 15rem;
  height: 15rem;
  padding-top: 0.5rem !important;
  border: 1px solid var(--smoked-gray);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
}

.cashier-card img {
  width: 10rem;
}

.cashier-card-btn {
  cursor: pointer;
  flex: 1;
  width: 100%;
  background-color: var(--smoked-gray);
}

.cashier-card-btn:hover {
  background-color: rgb(206, 206, 206);
}

.selected {
  background-color: lightgreen !important;
}

#menu-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* outline: 1px solid red; */
}

#menu-container img {
  width: 3rem;
  height: 3rem;
}

.menu-category {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: var(--light-orange);
  border-radius: 0.5rem;
  padding: 1rem 0 1rem 0.5rem !important;
}

.menu-item-card {
  border: 1px solid var(--smoked-gray);
  width: 15rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem !important;
  border-radius: 0.5rem;
  text-align: center;
  background-color: var(--warm-cream);
}

.menu-name {
  background-color: var(--ember-orange);
  padding: 0.5rem !important;
  border-radius: 0.2rem !important;
}

.add-to-order-btn {
  padding: 0.5rem !important;
  border-radius: 0.2rem;
  background-color: var(--ember-orange);
  border-color: var(--ember-orange);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.add-to-order-btn:hover {
  background-color: var(--light-orange);
}

#order-container {
  flex: 1;
  align-self: center;
  width: 25rem;
  max-height: 20rem;
  overflow-y: auto;
  margin-left: 1rem !important;
  border: 2px solid var(--ember-orange);
  border-radius: 0.5rem;
  padding: 0.5rem !important;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}

#order-container::-webkit-scrollbar {
  width: 10px;
}
#order-container::-webkit-scrollbar-track {
  background: var(--warm-cream);
}
#order-container::-webkit-scrollbar-thumb {
  background: var(--smoked-gray);
  border-radius: 4px;
}
#order-container::-webkit-scrollbar-thumb:hover {
  background: var(--charcoal-gray);
}

#order-title {
  font-size: 1.4rem;
  border-bottom: 1px solid var(--charcoal-gray);
  padding-bottom: 0.5rem !important;
  text-align: center;
}

.order-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  padding-bottom: 0.5rem !important;
  border-bottom: 1px solid var(--light-orange);
}

.order-crud {
  display: flex;
  gap: 1rem;
  /* gap: 1rem; */
  align-items: center;
  justify-content: space-between;
}

.qty-form button,
.remove-order-item-btn {
  width: 2.2rem;
  height: 2.2rem;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decrement-order-item-btn {
  background: var(--ember-orange);
}

.add-order-item-btn {
  background: rgb(0, 119, 255);
}

.remove-order-item-btn {
  background: #c0392b;
}

.order-main-crud {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.order-subtotal {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.qty {
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 1.5rem;
  text-align: center;
}

.order-crud {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-item p {
  margin-bottom: 0.2rem !important;
}

.remove-item-form {
  flex: 1;
}

#total {
  font-size: 1.5rem;
}

#submit-order-btn {
  padding: 1rem !important;
  width: 50%;
  border-radius: 0.2rem;
  font-size: 1.3rem;
  background-color: var(--smoked-gray);
  border: none;
  cursor: pointer;
}

#submit-order-btn:hover {
  background-color: lightgreen;
}

[id] {
  scroll-margin-top: 7.5rem;
}


#reports-main {
  margin-top: 1rem !important;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 0 !important;
}

#reports-main .table-report {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#reports-main table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem !important;
  background-color: var(--ash-white);
}

#reports-main th {
  background-color: var(--charcoal-gray);
  text-align: left;
  padding: 1rem !important;
  color: var(--ash-white);
}

#reports-main td {
  padding: 1rem !important;
}

#reports-main tr:nth-child(even) td {
  background-color: var(--smoked-gray);
}

#reports-main tr:hover td {
  background-color: var(--dark-smoked-gray) !important;
}

#reports-nav {
  position: sticky;
  top: 3.9rem;
  border-bottom: 1px solid var(--charcoal-gray);
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem !important;
  background-color: var(--smoked-gray);
}

#reports-main nav a {
  background-color: var(--smoked-gray);
  flex: 1;
  text-align: center;
  padding: 1rem !important;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
